:root{
    --gold:#ffbc58;
    --light-gray:#dddddd;
    --gray:#838383;
    --off-white:#f0f0f0;
    --error-color:rgb(189, 0, 0);
}
*{
    margin: 0; padding: 0;
    box-sizing:border-box;
}
html{
    font-size:16px;
}
body{
    display:flex;
    flex-direction:row;
    background-color:var(--off-white);
    font-family: 'Questrial', sans-serif;
    font-weight:100;
}

/* Image panel on left + logo + img credits */
.logo-wrapper{
    position:relative;
    max-width:50vw;
}

.logo-wrapper img{
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}

.logo-text, .logo-credit{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    left:0;
    right:0;

    color:var(--gold);
    font-weight:500;
}

.boldest{
    font-weight:1000;
}
.logo-text{
    top: 50px;

    background: rgba(255,255,255,.1);
    font-size: 3.5rem;
    font-weight:100;
}
.logo-credit{

    font-size:1rem;
    bottom:30px;
}

.logo-credit a:hover,
.logo-credit a:active,
.logo-credit a:visited,
.logo-credit a
{
    color:var(--gold);
    font-weight:1000;
}

.logo-credit a:active,
.logo-credit a:hover{
    filter:brightness(.7);
    text-decoration:underline;
}

/* Main information of page */
.content{
    flex:1 1 0;
}

.container{
    height:100%;
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.container .summary{
    padding: 0 40px; 
    margin-bottom:40px;

    font-size:1.25rem;
}

/* summary of page */
.summary .info{
    margin-bottom:20px;

    font-weight:500;

}

/* new account input form */
.form-wrapper{
    width:100%;
}
.form-wrapper .form-header{
    margin-bottom:10px;
}

.form-fields{
    width:100%;
    padding: 20px 40px;
    margin-bottom:40px;

    background-color: whitesmoke;
    box-shadow:0 2px 5px var(--gray);

}
form,
input{
    width:100%;
}

.form-grid{
    display:flex;
    gap:40px;
}
.form-col{
    flex: 1 1 0;
    display:flex;
    flex-direction:column;
    gap: 20px;
}

label{
    cursor:pointer;
}



input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input:placeholder-shown{
    appearance:none;
    padding:5px;
    
    background-color:var(--off-white);
    border:2px solid var(--gray);
    border-radius:5px;
}
input:focus{
    box-shadow:2px 2px 5px gray;
}

input[class='clicked']:invalid,
.invalid{
    border-color:var(--error-color);
}

.input-wrapper span{
    display:block;
    height:.8rem;
}

input[class='clicked']:invalid + span::after,
.input-wrapper span{
    margin-top:5px;
    font-size:.8rem;
    color:var(--error-color);
}

input[type='text'][class='clicked']:invalid + span::after{
    content:'* Please fill in field';
}

input[type='email'][class='clicked']:invalid + span::after{
    content:'* Please enter valid email'
}

input[type='tel'][class='clicked']:invalid + span::after{
    content:'* Please enter valid phone number'
}

input[type='password'][class='clicked'][id='pass']:invalid + span::after{
    content:'* Please enter valid password'
}

.controls{
    padding: 0 40px;
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.controls button{
    margin-bottom:20px;
}

/* form control elements */
form button{
    padding:10px 40px;

    text-align:center;
    font-size:1rem;
    font-weight:800;

    background-color:var(--gold);
    border:none;
    border-style:outset;
    border-radius:10px;
}
button:hover,
button:active{
    filter:brightness(.8);
    cursor:pointer;
    border-style:inset;
}


a,
a:visited{
    font-weight:800;
    color:black;
}

a:hover,
a:active{
    color:var(--gold);
}

a:active{
    filter:brightness(.8);
}

